[submodule "external/bash-mock"]
	path = external/bash-mock
	url = https://github.com/noel-yap/bash-mock.git
	branch = main
[submodule "external/sh-keyring"]
	path = external/sh-keyring
	url = https://github.com/noel-yap/sh-keyring.git
	branch = main
