[alias]
	aliases = "config --get-regexp alias"
	bud = "mcb"
	destash = "stash pop"
	cb = "!git-ch-branch.sh"
	clone-or-pull = "!git-clone-or-pull.sh"
	ct = "!git-create-task.sh \"$@\" && idea \"$1：\"*\"/$2\" #"
	cwc = "!git-clone-with-cache.sh"
	epr = "!git-edit-pr.sh"
	get = "!git-get.sh"
	graft = "!git-graft.sh"
	graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	mb = "!git-mk-branch.sh"
	mcb = "!git-mcb.sh"
	mpr = "!git-merge-pr.sh"
	push-pull = "!while ! git push; do git pull; done"
	pwc = "!git-pull-with-cache.sh"
	rb = "!git-rm-branch.sh"
	reap = "!git-reap.sh"
	rmcb = "!git-rmcb.sh"
	rpr = "!idea \"$(git-review-pr.sh \"$@\" | tee /dev/tty | grep -E \"^${HOME}/.*/code-review\" | tail -n 1)\" #"
	sever = "rb"
	snapshot = "!git-snapshot.sh"
	sow = push
	uncommit = "reset HEAD^ --"
	unstage = "reset -q HEAD --"
	upstream-set = "!github-upstream-set.sh"
[user]
	name = Noel Yap
	email = noel.yap+github.com@gmail.com
[pull]
	default = current
	rebase = true
[push]
	default = current
[fetch]
	prune = true
[merge]
	tool = meld
[diff]
	colorMoved = zebra
	renameLimit = 16384
[log]
	date = iso-strict-local
[core]
	editor = vi
	excludesfile = ~/.gitignore-global
[init]
	defaultBranch = main
[http]
	postBuffer = 524288000
[url "ssh://git@gitlab.com"]
	insteadOf = https://gitlab.com
[branch]
	autoSetupMerge = true
[advice]
	setUpstreamFailure = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
